# Environment
.env

# Python
.venv/
.python-version
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
